.top {
  background-color: #d3d5d2;
  background-image: url('./img/bg.jpg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 700px;
}

.topText {
  font-size: 40px;
  line-height: normal;
  text-align: center;
  word-break: break-word;

  color: #2e45c2;
}

.flier {
  min-height: 578px;
  background: #be0dea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
  position: relative;
}

.flierText {
  font-size: 30px;
  color: #000000;
  margin: 130px 80px 50px;
}

.flierBottom {
  white-space: nowrap;
  overflow: hidden;
}

.flierBottomText {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  display: inline-block;
  border-left: 1px solid #000;
  padding: 10px 20px;
  position: relative;
  bottom: -5px;
}

.leftPin {
  width: 111px;
  height: 121px;
  position: absolute;
  left: 20px;
  top: -35px;
}

.rightPin {
  width: 111px;
  height: 121px;
  position: absolute;
  right: -20px;
  top: -35px;
}

@media (max-width: 600px) {
  .flierText {
    margin-left: 20px;
    margin-right: 20px;
  }
}
