.top {
  background-color: #2079d3;
  height: 900px;
  text-align: center;
}

.topImg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.loadingImg {
  opacity: 1;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 50px auto;
}

.redBlock {
  background: #cd1818;
  color: #cbc537;
  font-family: Times New Roman;
  font-size: 24px;
  padding: 65px 25px;
  margin-right: 50px;
  margin-bottom: 50px;
  min-width: 300px;
}

.buttonLink {
  text-decoration: none;
}

.button {
  width: 413px;
  height: 413px;
  background-image: url('./img/button/1x.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: Impact;
  font-size: 32px;
  line-height: normal;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .bottom {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .redBlock {
    margin-right: 0;
  }
}

@media (max-width: 440px) {
  .top {
    display: none;
  }

  .button {
    width: 250px;
    height: 250px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .button {
    background-image: url('./img/button/2x.png');
  }
}
