.App {
  background-image: url('./img/bg1.png');
  background-size: auto;
  min-height: 100%;
  overflow-x: hidden;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .pre-footer {
    justify-content: space-around;
  }
}
